<configuration>
    <system.webServer>
        <!-- indicates that the export.js file is a node.js application 
        to be handled by the iisnode module -->
        <handlers>
            <add name="iisnode" path="export.js" verb="*" modules="iisnode" />
        </handlers>
        <!-- use URL rewriting to redirect the entire branch of the URL namespace
        to export.js node.js application;
        -->
        <rewrite>
            <rules>
                <rule name="export">
                    <match url="export/*" />
                    <action type="Rewrite" url="export.js" />
                </rule>
            </rules>
        </rewrite>
        <!-- exclude node_modules directory and subdirectories from serving
        by IIS since these are implementation details of node.js applications -->
        <security>
            <requestFiltering>
                <hiddenSegments>
                    <add segment="iisnode" />
                    <add segment="node_modules" />
                </hiddenSegments>
            </requestFiltering>
        </security>
        <!-- 
          initialRequestBufferSize="65536"
          maxRequestBufferSize="262144"
        -->
        <iisnode
          node_env="production"
          nodeProcessCountPerApplication="0"
          debuggingEnabled="false"
          debugHeaderEnabled="false"
          devErrorsEnabled="false"
          nodeProcessCommandLine="&quot;%programfiles%\nodejs\node.exe&quot;" 
          interceptor="&quot;%programfiles%\iisnode\interceptor.js&quot;" />
    </system.webServer>
</configuration>
